doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title="spring-npm-frontend-boilerplate"
        script(src="app.js")
    body
        h1 Hi mate, I'm a test HTML file, rendered from Pug template